In [ ]:
import pandas as pd

data = pd.read_excel('DataSampah.xlsx')

df = pd.DataFrame({
    'Kode Provinsi': data['kode_provinsi'],
    'Nama Provinsi': data['nama_provinsi'],  
    'Kode Kabupaten Kota': data['kode_kabupaten_kota'],
    'Nama Kabupaten Kota' : data['nama_kabupaten_kota'],
    'Jumlah Produksi Sampah' : data['jumlah_produksi_sampah'],
    'Satuan (Ton)' : data['satuan'],
    'Tahun' : data['tahun']
})
df.index = df.index + 1
df

tahun_tertentu = int(input("Masukkan tahun tertentu: "))
df_jabar = df[df['Nama Provinsi'] == 'Jawa Barat']
df_jabar_tahun = df_jabar[df_jabar['Tahun'] == tahun_tertentu]
total_produksi_sampah = df_jabar_tahun['Jumlah Produksi Sampah'].sum()
print(f'Total produksi sampah di Jawa Barat pada tahun {tahun_tertentu} adalah {total_produksi_sampah} ton.')

,Kode Provinsi,Nama Provinsi,Kode Kabupaten Kota,Nama Kabupaten Kota,Jumlah Produksi Sampah,Satuan (Ton),Tahun
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...
239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [13]:
tahun_tertentu = int(input("Masukkan tahun tertentu: "))
df_jabar = df[df['Nama Provinsi'] == 'Jawa Barat']
df_jabar_tahun = df_jabar[df_jabar['Tahun'] == tahun_tertentu]
total_produksi_sampah = df_jabar_tahun['Jumlah Produksi Sampah'].sum()
print(f'Total produksi sampah di Jawa Barat pada tahun {tahun_tertentu} adalah {total_produksi_sampah} ton.')

Total produksi sampah di Jawa Barat pada tahun 2015 adalah 0.0 ton.

In [2]:
df

,Kode Provinsi,Nama Provinsi,Kode Kabupaten Kota,Nama Kabupaten Kota,Jumlah Produksi Sampah,Satuan (Ton),Tahun
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...
239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [4]:
df.to_excel("data.xlsx", index=False)

In [5]:
df.to_csv("data.csv", index=False)